/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Structure
 */
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background:#fff;
    color: #333;
    font-size:14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open_sanslight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a, 
a:hover, 
a:active, 
a:visited {
    cursor:pointer;
    color:#01bcff;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

strong {
    font-weight:bold;
}

p {
    padding:10px;
}

ul {
    list-style:initial;
    padding:10px;
}

ul li {
    margin-left:30px;
}

.code-head,
.code {
    font-family: Consolas, monaco, monospace;
}

.text-center {
    text-align:center;
}

.clear {
    clear:both !important;
}

.hide {
    display:none;
}

/**
 * Lead 
 */
#lead {
    background: #01bcff;
    color: #fff;
    text-align:center;
    padding:100px 0;
}

#lead h1 {
    font-size:100px;
}

/**
 * Content
 */
h2 {
    font-size:30px;
}

h3 {
    margin-top:40px;
    margin-bottom: 10px;
    font-size:25px;
}

#content {
    margin:0 auto;
    padding:20px;
    width:600px;
    box-sizing:border-box;
}

#content h2 {
    padding:10px;
    margin:50px 0 10px;
    border-bottom:1px solid #01bcff;
}

p .waves-button {
    margin: 0px 10px;
}

p .waves-circle {
    margin: 0 5px;
}

#content .other .box {
    width:100px;
    height:100px;
    text-align:center;
    padding:40px 0;
    margin:0px 20px;
    float:left;
    box-sizing:border-box;
    border-radius:0px;
}

#content .other .colored-box {
    background:#147ef0;
    color:#fff;
}

#content .other .raised-box {
    background:#ff4f0f;
    color:#fff;
}

#content .doc p {
    line-height:160%;
}

/**
 * Footer
 */
footer {
    margin-top: 70px;
    padding: 20px;
    border-top: 1px solid #ccc;
}

@media all and (max-width:640px) {

}

@media all and (max-width:480px) {
  
}

@media all and (max-width:640px) {
    #lead h1 {
        font-size: 70px;
    }

    #lead {
        text-align: left;
        padding: 100px 50px;
    }

    #content {
        width:100%;
    }

    p .waves-button {
        margin: 10px;
    }

    p .waves-circle {
        margin: 5px;
    }

    #content .other .box {
        width: 200px;
        margin: 10px auto;
        float: none;
    }

    #content img {
        max-width: 100%;
    }

    #github-ribbon img {
        max-width: 30%;
    }
}